option_settings:
  - option_name: BUNDLE_DISABLE_SHARED_GEMS
    value: "1"
  - option_name: BUNDLE_PATH
    value: "vendor/bundle"

packages:
  yum:
    git: []
    patch: []
    ImageMagick: []
    ImageMagick-devel: []

sources:
  /usr/local/src: http://ffmpeg.org/releases/ffmpeg-4.4.1.tar.bz2
commands:
  ffmpeg_install:
    cwd: /usr/local/src/ffmpeg-4.4.1
    command: sudo ./configure --prefix=/usr && make && make install
